*{
  background-color: black;
}
.game-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
#field td, #mini-field td{
  width: 30px;
  height: 30px;
  background-color: grey;
}
#field table, #mini-field table{
  margin: 50px auto;
}
#field td.figureCell, #mini-field td.figureCell{
  background-color: darkgreen;
}
